@{
  Layout = "_Layout";
}

<div  class="jumbotron">
  <form action="/leetSpeak" method="post">
    <label for="english">English word/sentence</label>
    <input type="text" name="english" class="form-control">
    <button type="submit"> Submit</button>
  </form>
</div>
